
button{
    color:   #c5c8c6;
    background-color:  transparent;
    column-rule-color:  #c5c8c6
}

.header {
    overflow: hidden;
    background-color:transparent;
    padding: 20px 10px;
  }
  
  /* Style the header links */
  .header a {
    float: left;
    color: whitesmoke;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 40px; 
    line-height: 25px;
    border-radius: 4px;
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  /* Change the background color on mouse-over */
  .header a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active/current link*/
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  /* Float the link section to the right */
  .header-right {
    float: right;
  }

  
.body{
    /* The image used */
    background-image: url("assets/images/background.jpg");

    /* Center and scale the image nicely */
    background-position:bottom;
    background-repeat: repeat;
    background-size: 100%;
    height: 100%;
    width: 100%;
    min-width: 100%;
    
}
  
