
  

<div class="header">
    <a >NiKreation</a>
    <div class="header-right">
      <a href="#home">Home</a>
      <a href="#about">About</a>
      <a href="#contact" >Login</a>
    </div>
  </div>


<div class="body">
<appcatagories></appcatagories>
</div>
<footer><span>fdsf</span> </footer>