img {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 2px; /* Some padding */
   /* Set a small width */
}

/* Add a hover effect (blue shadow) */


.catagoryContainer {
    position: relative;
    text-align: center;
    color: white;
    height: 100%;
    /* Center and scale the image nicely */
}
.catagoryContainer:hover { 
    color: rgb(255, 15, 27);
    font-size: 24;
    /* Center and scale the image nicely */
}
img:hover{
    box-shadow: 0 0 2px 3px rgba(131, 49, 1, 0.5);   
    font-size: 44px;
}
.centered {
    position: absolute;
    font-size: 24px;
    color: lightgoldenrodyellow;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container .centered:hover {
    font-size: 44px;
    
}
