
<div class="catagoryContainer">
  <div class="row">
    <div class="col-md-4 col-sm-3" *ngFor="let c of categories" >
       <!-- <a  target="_blank" href="assets/images/forest.jpg">
          <img src="assets/images/forest.jpg" alt="Forest">
          {{c}}
        </a>
      -->
            <a  target="_blank" href="assets/images/forest.jpg">
              <img src="assets/images/forest.jpg" alt="Forest">             
            </a>
            <div class="centered"> {{c}}</div>
          </div>
  </div>
</div>