/* You can add global styles to this file, and also import other style files */

h1 {
  font-family: 'Nixie One', Arial, sans-serif;
  color: #fff;
  font-size: 66px;
  font-weight: 400;
}

h2,
h3 {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  background: linear-gradient(to right, #98fb98, white);
  min-height: 100%;  
  color: fff;
  margin: 2em;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

a {
  cursor: pointer;
  cursor: hand;
}

td {
  color: aliceblue;
}


/* everywhere else */

* {
  /* background: black !important; */
  font-family: Arial, Helvetica, sans-serif;
}

.alert-danger {
  color: red;
}

form,
[ngForm],
ngForm,
[ng-reflect-form],
[ngModelGroup],
[formGroupName],
[formArrayName] {
  margin: 10px 10px 10px 0;
  padding: 10px;
  border-radius: 5px;
  display: block;
  font-family: 'FontAwesome';
}



.container2 {
  margin: 10px 10px 10px 0;
  padding: 10px;
  border-radius: 5px;
  display: block;
  z-index: 2;
  background: #0061a7 linear-gradient(to bottom, #485563 100%, #0061a7 85%);
}

.container2:hover {
  margin: 10px 10px 10px 0;
  padding: 10px;
  border-radius: 5px;
  display: block;
  z-index: 0;
  background: #0061a7 linear-gradient(to bottom,#405063 5%, #485563 100%);
  box-shadow: 0 0 10px 4px #969696;
}

input[type=date]:focus,
input[type=number]:focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
  font-family: 'FontAwesome';
}

input[type=date]:hover,
input[type=number]:hover {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

select {
  padding: 3px;
  border-radius: 3px;
  border: 1px solid #DFDFDF;
  margin: 5px;
  min-width: 100%;
}

select:focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

select:hover {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

.form-state {
  color: red;
}

.form-state.valid {
  color: green;
}

.checkmark {
  height: 25px;
  width: 25px;
  background-color: #039be5;
  border-radius: 50%;
}


/* On mouse-over, add a grey background color */

input~.checkmark {
  background-color: chartreuse;
}


/* When the radio button is checked, add a blue background */

input:checked~.checkmark {
  background-color: #2196F3;
}


/* Create the indicator (the dot/circle - hidden when not checked) */

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkmark:hover {
  border: 0px;
}


/* Show the indicator (dot/circle) when checked */

input:checked~.checkmark:after {
  display: block;
  background: #0061a7;
}


/* Style the indicator (dot/circle) */

.checkmark:after {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: blue;
}

label {
  color: wheat;
  font-weight: 400;
  padding: 0px 0px;
  margin: 0px;
  vertical-align: middle;
  padding-bottom: 0px;
  cursor: pointer;
}

button {
  box-shadow: inset 0 0 0 0 #54a3f7;
  background: #0061a7 linear-gradient(to bottom, royalblue 5%, #007dc1 100%);
  border: silver;
  border-radius: 6px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-weight: bold;
  padding: 3px 25px;
  text-decoration: none;
}

button:hover {
  background: #0061a7 linear-gradient(to bottom, royalblue 5%, #007dc1 100%);
}

button:active {
  position: relative;
  background: green;
  top: 1px;
}

button:hover {
  background: green;
}

button:disabled {
  background: #a4c3b0;
  color: blanchedalmond;
  cursor: auto;
}

button[disabled] {
  background: #a4c3b0;
  color: gray;
  cursor: not-allowed;
  align-self: flex-end;
}

input,
label,
input[date],
img,
button {
  margin: 5px;
}
